<%= link_to "Create event", new_event_path %>
<div class="events">
  <% if events.any? %>
    <% events.each do |event| %>
      <div class="event">
        <%= link_to event.name, event_path(event.id) %>
      </div>
    <% end %>
  <% else %>
    <h2><%= empty_state_message %></h2>
  <% end %>
</div>