<div class="events">
  <% if events.any? %>
    <% events.each do |event| %>
      <div class="event">
        <%= link_to event.name, event_path(event.id) %>
      </div>
    <% end %>
  <% else %>
    <p><%= empty_state_message %></p>
  <% end %>
</div>